<h2>Questions</h2>

<h3>Filter</h3>
<div>
    <div>
        <label>Question text:</label>
        <input type="text" />
    </div>

    <div>
        <button class="refresh">Refresh</button>
    </div>
</div>

<h3>Result</h3>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Text</th>
            <th>Answer&nbsp;Options</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><button>❌</button></td>
        </tr>
    </tbody>
</table>
