<h1>Wördle Solver</h1>

<p>
  Open <a href="https://wordle.at/" target="_blank">https://wordle.at/</a> and start guessing...
</p>

<div>
  <div class="input">
    <label for="expected">Word:</label>
    <!-- Fill the following select control with all possible words -->
    <select class="possible-words">
      <option ><!-- Add possible word here --></option>
    </select>
  </div>
  <div>
    <label for="result">Result:</label>
    <input type="text" id="result" name="result" />
  </div>
  <!-- Use the following div to display errors -->
  <div class="error">
    <!-- Display error message here -->
  </div>
  <div class="normal">
    <button>Store</button>
  </div>
  <div class="input">
    <button>Reset</button>
  </div>
</div>
