<h1>Payments With Detections</h1>

<!-- Todo: Add necessary data binding -->

<table>
    <thead>
        <tr>
            <th class="left">License Plate</th>
            <th class="right">Paid Amount</th>
            <th class="left">Detection dates</th>
        </tr>
    </thead>
    <tbody>
        <!-- Repeat the following tr-block for each payment -->
        <tr>
            <td class="left">...<!-- Add license plate here --></td>
            <td class="right">...<!-- Add paid amount here --></td>
            <td class="left">
                <!-- Repeat the following div-block for each detection of the payment -->
                <div class="detection">
                    ...<!-- Add the date and time when the detetion's photo was taken here. Try to format it nicely. -->
                    ...<!-- Add the flag indicating whether it is a multi-car detection here Try to format it nicely. -->
                </div>
            </td>
        </tr>
    </tbody>
</table>
