<h1>Mathler Solver</h1>

<p>
  Open mathler.com, switch to EASY, and use this tool to find the solution.
</p>

<div>
  <div class="input">
    <label for="expected">Expected Result:</label>
    <input type="number" id="expected" name="expected" />
  </div>
  <div class="normal">
    <button>Set</button>
  </div>
  <div class="input">
    <label for="formula">Formula:</label>
    <input type="text" id="formula" name="formula" />
  </div>
  <div>
    <label for="result">Result:</label>
    <input type="text" id="result" name="result" />
  </div>
  <div class="error">
    <!-- Add error message here -->
  </div>
  <div class="normal">
    <button>Store</button>
  </div>
  <div class="guess">
    <!-- Add guess here -->>
  </div>
  <div class="input">
    <button>Reset</button>
  </div>
</div>
