<h1>Welcome to Bike Together!</h1>
<div class="container" fxLayout="row" fxLayout.xs="column">
    <main fxFlex="75" fxFlex.xs="100">
        <p>
          The city of Linz wants to reduce car traffic in the inner city. For that reason, it has been decided to
          introduce a Congestion Charge system similar to the one in London. Traffic cameras with license plate
          recognition software have been installed at all major streets in Linz. Your job in this exercise is to
          build a software system for Congestion Charge payment.
        </p>

        <p>
            So stop driving, start riding bikes, or use public transport!
        </p>
    </main>
    <section class="matura-notes" fxFlex="25" fxFlex.xs="100">
        <p>
            This sample application is part of the Matura 2021/22 at the <a href="https://www.htl-leonding.ac.at" target="_blank">HTL&nbsp;Leonding</a>.
            Please complete this web application as described in the exam specification.
        </p>
        <p>
            Good luck, we wish you success!
        </p>
    </section>
</div>
