<h2>Add Question</h2>

<form>
    <div>
        <label>Question Text:</label>
        <textarea [(ngModel)]="text" name="text"></textarea>
    </div>

    <h3>Answer Options</h3>

    <button *ngIf="options.length < 10" (click)="addOption()">Add Option</button>

    <div *ngFor="let o of options; index as i" class="ai">
        <h4>
            Option {{ i + 1 }}
            <button *ngIf="options.length > 1" (click)="delete(i)">❌</button>
        </h4>
        <div>
            <label class="ai">Answer text:</label>
            <input type="text" [(ngModel)]="o.text" name="optionText{{i}}" />
        </div>
        <div>
            <label class="ai">Is correct:</label>
            <input type="checkbox" [(ngModel)]="o.isCorrect" name="isCorrect{{i}}" />
        </div>    
    </div>
    <button (click)="save()" class="save">Save</button>
</form>